.bonus
    button.btn-btn dark mode
    .container
        .bonus__row
            .bonus__info
                .bonus__text-mob
                    .bonus__text-mob-top STAY INSIDE THE
                    .bonus__text-mob-center GAME WITH #[span APP]
                    .bonus__text-mob-bottom favbet
                .bonus__text
                    .bonus__text-top STAY INSIDE THE GAME
                    .bonus__text-bottom WITH #[span APP] favbet
                .bonus__buttons
                    .bonus__buttons-item
                        a(href='https://apps.apple.com/ro/app/favbet-ro/id1114477310?l=ro').bonus__buttons-item-link.bonus__buttons-item-link-appstore
                            img(src='img/app-store.png' alt='appstore-link')
                        .bonus__buttons-item-qr.bonus__buttons-item-qr-appstore
                    .bonus__buttons-vs
                        img(src='img/vs.svg' alt='vs')
                    .bonus__buttons-item
                        a(href="https://play.google.com/store/apps/details?id=com.betinvest.favbet_3_ro&hl=en").bonus__buttons-item-link.bonus__buttons-item-link-googleplay
                            img(src='img/googleplay.png' alt='google-play-link')
                        .bonus__buttons-item-qr.bonus__buttons-item-qr-googleplay
            .bonus__image
                .bonus__image-wrap
                    .bonus__image-phoneTwo
                    .bonus__image-phoneOne
                    .bonus__image-elemOne
                    .bonus__image-elemTwo
                    .bonus__image-elemThree

